.fx {
  display: flex;
}

.fx-gap {
  gap: 18px;
}

.input-input, .input-button {
  /* color: #fff; */
  color: black;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-align: center;
  /* font-size: 30px; */
  width: 100%;
}

.input-form {
  width: 100%;
  /* background-color: hwb(210 28% 8%); */
  background-color: #fff;
  border-radius: 20px;
  /* box-shadow: 0 10px 40px rgb(42, 96, 149), 0 0 0 20px #ffffffeb; */
  /* transform: scaleX(0.8);  */
  justify-content: center;
  align-items: center;
  height: 96px;
}

.input-input[type="text"]::placeholder {
  color: #867d7d;
}

.input-button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#input-icon-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.input-button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.input-button span:before,
.input-button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#input-icon:hover #input-icon-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#input-icon:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#input-icon:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#input-icon:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#input-icon:hover button span:before,
#input-icon:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}
